body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: white;
  text-align: center;
}

.input-control {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.input-control > * {
  padding: 7px 15px;
  border-radius: 9px;
  border: none;
}

.input-control button {
  cursor: pointer;
  transition: transform 1s ease;
}
.input-control button:hover {
  transform: scale(120%, 120%);
  background-color: #efefef;
}
ul#list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul#list li {
  padding: 12px;
  border: 1px solid cyan;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
ul#list li:hover {
  background-color: #efefef;
  color: black;
}
