body {
  direction: ltr;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: #f5f5f5;
}

.container {
  width: 900px;
  margin: auto;
}
form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input,
select,
button {
  padding: 10px;
}
#portfolio,
#history {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
