* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html, .container{
    width: 100%;
    height: 100%;
}
aside{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
}
aside i{
    font-size: 30px;
    cursor: pointer;
}
aside i:hover{
    opacity: .4;
}

a{
    color: black;
}

#tab1, #tab2, #tab3{
    height: 100%;
}

.container{
    display: flex;
    overflow: hidden;
}
.pages{
    width: 80%;
    position: relative;
}
.pages #page1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple;
    left: 0;
    top: 0;
}
.pages #page2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    left: 100%;
    top: 0;
}
.pages #page3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    left: 200%;
    top: 0;
}

#tab1:target .pages #page1{
    left:0
}
#tab2:target .pages #page2{
    left:0
}
#tab3:target .pages #page3{
    left:0
}