*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
}

.header-color{
    background-color: #131921;
}
.text-white{
    color: white;
}

header{
    
    padding: 2px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
header > span:first-child{
    padding: 12px;
    display: inline-block;
    margin-right: 5px;
}
header > span:last-child{
    padding: 3px;
    display: inline-block;
    margin-right: 5px;
}
header > span:hover{
    border: 1px solid white;
    border-radius: 2px;
}

a, a:active{
    text-decoration: none;
    color: white;
}

.deliver span:first-child{
    font-size: 14px;
}
.deliver span:last-child{
    font-size: 18px;
}
.deliver i{
    margin-right: 4px;
}
span.search{
    width: 250px;
    margin-left: 10px;
    height: 50px;
    position: relative;
}
span.search span:first-child{
    width: 20%;
    background-color: #efefef;
    height: 88%;
    position: absolute;
    border-radius: 5px;
    padding-top: 7%;
    padding-left: 10%;
    cursor: pointer;
}
span.search span:first-child:hover nav{
    display: block;
}
span.search span:first-child nav{
    display: none;
    position: absolute;
    top: 70px;
    left: -30px;
    background-color: #efefef;
    width: 200px;
    border-radius: 12px;
    text-align: left;
    
}
span.search span:first-child nav a{
color: black;
display: block;
padding: 10px;
}
span.search span:last-child{
    width: 20%;
    background-color: #f6a904;
    height: 88%;
    position: absolute;
    border-radius: 0 5px 5px 0;
    right: 0;
    padding-top: 5%;
}
span.search input{
    border: none;
    border-radius: 5px;
 
    height: 100%;
    width: 100%;
}

span.search input::placeholder{
    padding-left: 30%;

}